/* 
variables
*/
:root {
    /* color */
    --color-primary: hsl(25, 97%, 53%);
    --color-neutral-100: hsl(0, 100%, 100%);
    --color-neutral-500: hsl(217, 12%, 63%);
    --color-neutral-800: hsl(213, 19%, 22%);
    --color-neutral-900: hsl(213, 19%, 18%);
    --color-neutral-950: hsl(216, 12%, 8%);
    
    /* font size */
    --text-13: 0.8125rem;
    --text-14: 0.875rem;
    --text-15: 0.9375rem;
    --text-24: 1.5rem;
    --text-28: 1.75rem;

    /* radius */
    --radius-card: 0.9375rem;
    --radius-button: 3.125rem;
    --radius-circle: 50%;

    /* spacing */
    --space-8: 0.5rem;
    --space-10: 0.625rem;
    --space-12: 0.75rem;
    --space-24: 1.5rem;
    --space-28: 1.75rem;
    --space-30: 1.875rem;
    --space-32: 2rem;
    --space-42: 2.625rem;
    --space-46: 2.875rem;
}


/* 
base styles
*/
body {
    font-family: "Overpass", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
    font-size: clamp(var(--text-14), 3vw, var(--text-15));
    font-weight: 400;
    background-color: var(--color-neutral-950);
    color: var(--color-neutral-500);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* 
evaluation card
*/
.evaluation-card {
    width: clamp(20.5rem, 80vw, 25.75rem);
    padding: clamp(var(--space-24), 10vw, var(--space-32));
    padding-bottom: clamp(var(--space-30), 5vw, var(--space-32));
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    background-color: var(--color-neutral-900);
    border-radius: var(--radius-card);
}
.favorite {
    width: clamp(2.5rem, 10vw, 3.125rem);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    background-color: var(--color-neutral-800);
    border-radius: var(--radius-circle);
}
form {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}
h1 {
    margin: 0;
    font-size: clamp(var(--text-24), 5vw, var(--text-28));
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-neutral-100);
}
.description {
    margin: 0;
}

/* 
evaluation
*/
.evaluation {
    padding: 0;
    margin: 0;
    border: none;
    font-size: var(--text-13);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
.evaluation input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.evaluation label {
    width: clamp(2.5rem, 10vw, 3.125rem);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    line-height: 1;
    border-radius: var(--radius-circle);
    background-color: var(--color-neutral-800);
    cursor: pointer;
}
.evaluation input:checked + label {
    background-color: var(--color-primary);
    color: var(--color-neutral-900);
}
.evaluation label:hover {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
}


/* 
submit button
*/
.submit {
    height: 2.8125rem;
    padding: 0;
    border: 1px solid var(--color-neutral-900);
    text-transform: uppercase;
    font-size: var(--text-15);
    font-weight: 700;
    letter-spacing: 0.08em;
    background-color: var(--color-primary);
    border-radius: var(--radius-button);
    cursor: pointer;
}
.submit:hover {
    background-color: var(--color-neutral-100);
}


/* 
thankyou card
*/
.thankyou-card {
    width: clamp(20.5rem, 80vw, 25.75rem);
    padding: 
        clamp(var(--space-32), 10vw, var(--space-46)) 
        clamp(var(--space-28), 10vw, var(--space-32)) 
        clamp(var(--space-42), 10vw, var(--space-46));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-neutral-900);
    border-radius: var(--radius-card);
}
.thankyou-image {
    width: clamp(9.125rem, 30vw, 10.25rem);
    margin-bottom: clamp(var(--space-24), 5vw, var(--space-32));
}
.valuation-result {
    width: clamp(10.5rem, 40vw, 12rem);
    padding: var(--space-8);
    text-align: center;
    margin-bottom: var(--space-28);
    background-color: var(--color-neutral-800);
    color: var(--color-primary);
    border-radius: var(--radius-button);
}
h2 {
    margin: 0;
    margin-bottom: var(--space-12);
    color: var(--color-neutral-100);
    font-size: clamp(var(--text-24), 5vw, var(--text-28));
}
.thankyou-description {
    margin: 0;
    text-align: center;
}



/* 
utilities
*/
.hidden {
    display: none;
}


/* 
footer
*/
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
